<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RackUP!</title>
    <link rel="stylesheet" href="css/output.css">
  </head>
  <body>
    <h1>PROCESS MANAGER</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/all">All - JSON</a></li>
      </ul>
    </nav>
    <hr>
    <div class="container">
      <%= output %>
    </div>
    <hr>
    <footer>FOOTER</footer>
  </body>
</html>
